.container {
    overflow: hidden;
    position: relative;
}

.holder:hover {
    transform: scale(1.15);
}

.holder {
    transition: all 1s;
}

.overlay {
    padding: 2vh;

}

.spaced {
    margin: 2vh;
    box-shadow: 0 8px 10px -6px rgba(0,0,0,0.70);
}