body {
  background-color: #f7fafc;
  /*background: url(../images/greenmarble.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
}

p {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
}
